*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
        background-image: url(./images/Leonardo_Diffusion_Gas_station_near_the_road_with_retro_game_a_2.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
}
.part1{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    display: none;
    position: relative;
    top: 0;
}
.container .card-part{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.card-part1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.size{
    font-size: 24px;
    font-weight: bold;
}
.part2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.part2 .button1{
    margin-top: 15px;
    background-color: #FCC22D;
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
    border: none;
    font-size: 20px;
}
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    display: none;
}
.container2 .card1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card1-part1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    display: none;
}
.collect{
 background-color: #CE0202;
 border-radius: 30px;
 padding: 5px;
 font-weight: bold;  
 border: none;
}
.refuel{
 background-color: #FFE816;
 border-radius: 30px;
 padding: 5px;
 font-weight: bold;  
 border: none;
}
.upgrade{
    border-radius:30px;
    font-weight: bold;
    padding:10px;
    background-color: #16513E;
    font-size: 10px;
    border: none;
}
.container3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 150px;
}
.container3 .card2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 100px;
    display: none;
}
.matic{
    color: black;
    background-color: white;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 24px;
    margin-top: 10px;
    border: none;
}
 .progress-bar {
    width: 500px;
    background-color: #f3f3f3;
    border-radius: 30px;
}
.progress {
    height: 35px;
    background-color: #A8C488;
    border-radius: 30px;
    width: 0%;
} 
.time-bar{
    width: 50%;
    background-color: #f3f3f3;
    border-radius: 30px;
}
.time{
    height: 15px;
    background-color: #A8C488;
    border-radius: 30px;
    width: 0%;
}
.progress-bar-vertical {
    height: 200px;  
    width: 20px;
    background-color: #f3f3f3;
    overflow: hidden;
  }
  
  .progress-bar-fill {
    background-color: #FBD116;
    height: 0%; 
    width: 100%;
  }
  .popup {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 1000px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .popup-content{
    height: 700px;
    width: 500px;
    background-image: url(./images/Leonardo_Diffusion_Gas_station_near_the_road_with_retro_game_a_2.png);
    background-repeat: no-repeat;
    background-size: cover;

    padding: 40px;
    border-radius: 5px;
    position: relative;
  }
  .popup-card{
    display: flex;
    flex-direction: column;
  }
  .popup-card input{
    outline: none;
    margin: 15px 0px;
   border: 1px solid gainsboro;
   padding: 10px;
  }
  .popup-card label{
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    color: white;
  }
  .close {
    position: absolute;
    top: -24px;
    right: -10px;
    color: #bbb;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    
  }
  .close:hover{
    cursor: pointer;
  }
  #click:hover{
    cursor: pointer;
  }
  .matic-part{
    display: none;
    flex-direction: column;
    width: 20%;
    padding: 30px;
  }
  .refinery-part{
    display: none;
    flex-direction: column;
    margin-top: 60px;
    padding-bottom: 30px;
  }
  .button-style{
    margin-right: 30px;
    height: 50%;
    display: inline-block;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  .button-style:active{
    background-color: #4CAF50;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .style{
    margin-right: 10px;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color:#CE0202;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  .style:active{
    background-color: #CE0202;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .style1{
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color:#F09A21;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  .style1:active{
    background-color: #F09A21;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .style2{
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color:#16513E;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  .style2:active{
    background-color: #16513E;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .style3{
    display: inline-block;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #6f706b;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  .style3:active{
    background-color: #6f706b;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .button2{
    margin-right: 10px;
    display: inline-block;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:orangered;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  .button2:active{
    background-color: orangered;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: none; 

    /* Ekranın tam ortasında yer alması için ekledik */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.collect-disabled{
  opacity: 0.7;
  font-weight: bold;
  display: inline-block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color:#CE0202;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
 }
 .upgrade-disabled{
  opacity: 0.7;
  font-weight: bold;
  font-size: 10px;
  display: inline-block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #16513E;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
 }
 .refuel-disabled{
  opacity: 0.7;
  display: inline-block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color:#F09A21;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-weight: bold;
 }

 .buy-refinery-disabled{
  opacity: 0.7;
  display: inline-block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color:#4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-weight: bold;
 }
 .buy-pump-disabled{
  opacity: 0.7;
  display: inline-block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color:#4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-weight: bold;
 }
 .buy-extra-place-disabled{
  opacity: 0.7;
  display: inline-block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color:#4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-weight: bold;
 }
 .style3-disabled{
  opacity: 0.7;
  display: inline-block;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color:#6f706b;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-weight: bold;
 }
 .button-style-disabled{
  opacity: 0.7;
  display: inline-block;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color:#4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-weight: bold;
 }
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

